@import 'tailwindcss';

@layer base {
    html {
        @apply text-neutral-950;
    }
}

@theme {
    --breakpoint-xs: 30rem;
}

:root {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
        appearance: textfield !important;
    }
}
